<ion-header>
  <ion-toolbar>
    <ion-title>Geo Busca</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item>
      <ion-label postion="floating">Qual sua busca?</ion-label>
      <ion-input type="text" placeholder="Cidade, estado, país..." required="true" [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)" [ngModelOptions]="{standalone: true}" clearInput></ion-input>
    </ion-item>
    <ion-button expand="full" [routerLink]="['/','locations', this.searchTerm]" [disabled]="!searchTerm">Buscar!</ion-button>
  </form>
</ion-content>
